
body{
    background-image:url(../../../asset/rick-and-morty-unamused-rick-agpuysmhk3lhdl4p.jpg);
    text-decoration: none;
}

.container{
    margin-top: 8%;
    display: flexbox;
    justify-content: center;
    padding-top: 4em;
    padding-bottom: 4em;
   
}
p{
    font-size: xx-large;
    
}
.form{
   
    background-color:#99F0DD;
    height: 500px;
    width: 30%;
    min-width: 200px;
    padding-top: 10em;
    justify-content:center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;

}
input{
    height: 30px;
    border-radius: 10px;
    border: none;
}
 button {
    border : none;
    border-radius: 10px;
    height: 30px;
    width: 150px;
    background-color:#385170;
    color: white;
 }
 .input p{
    font-size: small;
 }